workflows/Back up de workflows.json
{
  "active": true,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T13:09:54.637Z",
  "id": "uMSWuOUFesKnhzLJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Back up de workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "53a97be5-71cd-465d-a2cc-eca7cb42e09d",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1536,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "e8437ff8-ce71-4874-a087-cb3e46e58342",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -704,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "c01f7cd4-10fc-4257-9cac-6a5bd4b73116",
      "credentials": {
        "githubApi": {
          "id": "fkNBUmz4W8jAcxJQ",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "89efd12a-15ce-4e00-b07e-b76374ee9e27",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -160,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4ed4b1de-5560-40b2-9003-aaefd1697c28",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "326299d3-6ecd-4d17-a147-a8a1ff8e3887",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2d60e15d-bbfc-4560-88e9-462b497f25b3",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "38da1e3b-1f45-4e44-b6f6-dacf11d43615",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        320
      ],
      "typeVersion": 1,
      "webhookId": "5ef377be-0eb3-4232-9fb2-0fdb46a75dc9",
      "credentials": {
        "githubApi": {
          "id": "fkNBUmz4W8jAcxJQ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "82b63d69-d19b-4cdc-a367-5adecec1bf5f",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        560
      ],
      "typeVersion": 1,
      "webhookId": "d7928a68-7503-4a11-9a62-d2ed6b27dd3f",
      "credentials": {
        "githubApi": {
          "id": "fkNBUmz4W8jAcxJQ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "3b49f451-533d-4e78-b0f2-3b8cbceb65b6",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1536,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "943f571e-b2d0-471a-876f-8e021b8339c8",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1168,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "K4sXfPBQCsLp0XwE",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "57eafd4c-849a-4c4e-aec6-72e68dcd56fb",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "72c99627-28d0-4cce-98c9-a7a805b01161",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -464,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "Carles27"
            },
            {
              "name": "repo.name",
              "value": "UDIA-N8N-Workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "49e06ff5-4bc7-4c48-b6bf-7d65d211cdb5",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1360,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ec10d990-77c7-44df-8d10-a3f7a3149b7c",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5862f131-2607-4032-b512-5b410920a914",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        352
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T13:09:54.649Z",
      "updatedAt": "2025-08-25T13:09:54.649Z",
      "role": "workflow:owner",
      "workflowId": "uMSWuOUFesKnhzLJ",
      "projectId": "NlZSbCiwuoH09JfL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T13:55:15.000Z",
  "versionId": "194a4928-7e7c-447f-ae54-8aa0a1cecdbc"
}