workflows/Control de errores.json
{
  "active": true,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-20T16:27:14.880Z",
  "id": "IcU3JHabwG5VCMXx",
  "isArchived": false,
  "meta": null,
  "name": "Control de errores",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "170fbd89-bf45-4feb-8ca5-e8346a5e58ab",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "21e741f8-025c-44ad-bbc4-251b438cec0c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        -96
      ],
      "id": "f4f85f73-74cf-49fb-bae4-207ee9cc1bd5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "errorMessage": "¡Ha ocurrido un error! Te enviamos Telegram."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        496,
        96
      ],
      "id": "6d2b90d3-7bab-4324-8d21-9802ec3610db",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d4b7de30-0d0c-4980-9cb9-cfc6d4388e41",
      "name": "When chat message received",
      "webhookId": "0f09bf30-169f-406a-b643-f4b671a6eb46"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "4qJuOMnn3ks8fDC7",
    "timezone": "Europe/Madrid"
  },
  "shared": [
    {
      "createdAt": "2025-08-20T16:27:14.887Z",
      "updatedAt": "2025-08-20T16:27:14.887Z",
      "role": "workflow:owner",
      "workflowId": "IcU3JHabwG5VCMXx",
      "projectId": "NlZSbCiwuoH09JfL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-20T17:32:06.000Z",
  "versionId": "c00e9599-b8cd-492c-a094-cb2163302c4d"
}