workflows/Entrenar asistente de ia.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Assign file to VS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T19:44:25.298Z",
  "id": "j6gXDsVFHZWVl3ah",
  "isArchived": false,
  "meta": null,
  "name": "Entrenar asistente de ia",
  "nodes": [
    {
      "parameters": {},
      "id": "c2d3f45f-1533-4379-8c84-dc2fe83c41e7",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        192,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM libros",
        "options": {}
      },
      "id": "74a71baa-05a4-4a92-a9af-e818172e6ad0",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        384,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtiene los datos del nodo anterior (el JSON que has proporcionado)\nconst items = $input.all();\n\n// Inicializa un array vacío para almacenar las líneas del archivo\nlet lines = [];\n\n// Recorre cada objeto del array y forma una línea con la información necesaria\nitems.forEach(item => {\n  const line = `Nombre: ${item.json.nombre} - Editorial: ${item.json.editorial} - Resumen: ${item.json.resumen} - Precio: ${item.json.precio}€ Stock: ${item.json.stock}`;\n  lines.push(line);\n});\n\n// Une todas las líneas con saltos de línea y crea el contenido del archivo\nconst fileContent = lines.join('\\n');\n\n// Convierte el contenido en un buffer binario\nconst buffer = Buffer.from(fileContent, 'utf-8');\n\n// Genera el timestamp Unix\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// Devuelve el archivo como binario con el nombre libros_{timestamp_unix}.txt\nreturn {\n  binary: {\n    data: {\n      fileName: `libros_${timestamp}.txt`,\n      mimeType: 'text/plain',\n      data: buffer.toString('base64')\n    }\n  }\n};\n"
      },
      "id": "f9b7fee0-4c6b-4b05-a551-a205ceb3d880",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        112
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "binary.data.data",
        "options": {
          "fileName": "={{ $json.binary.data.fileName }}"
        }
      },
      "id": "08460f9d-4ec2-441b-ba4a-4b37af4515de",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {},
      "id": "18bfedfc-c1e6-45a8-b5e6-6892d8e3b797",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        576,
        560
      ]
    },
    {
      "parameters": {},
      "id": "cf0fabe5-aa8d-4269-9ffb-ead042507ffe",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        416,
        560
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "=data",
        "options": {
          "purpose": "assistants"
        }
      },
      "id": "21b5a800-ea53-4926-9edd-eb77b11b8a05",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        864,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.openai.com/v1/vector_stores/vs_67a78c1e0a08819192d6b1d389f179a2/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <TUAPIKEY>"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b88d23f-7491-4a07-ac89-e49914822069",
      "name": "Assign file to VS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        112
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_9ntoAWji8Ga74cJ6YvpliDlm",
          "mode": "list",
          "cachedResultName": "udia_libros"
        },
        "options": {}
      },
      "id": "f426de38-84c8-4d5d-961c-4d2681699d98",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        352,
        352
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola, ¿qué libro te interesa hoy?\n",
        "options": {}
      },
      "id": "38300d79-096a-47b6-b928-16aada8890e4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        176,
        352
      ],
      "webhookId": "4f2c335a-6c4a-446d-b5e5-bb3f82ca89f0"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        400
      ],
      "id": "378aa596-6655-47a9-945c-6cb28810a925",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T19:44:25.316Z",
      "updatedAt": "2025-08-21T19:44:25.316Z",
      "role": "workflow:owner",
      "workflowId": "j6gXDsVFHZWVl3ah",
      "projectId": "NlZSbCiwuoH09JfL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T13:54:14.000Z",
  "versionId": "c45dec3b-23a4-4f4f-ab0b-be360658986f"
}