workflows/My workflow 2.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-08-25T18:41:21.390Z",
  "id": "7ZCDyk03ZeBnw6T2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres un agente super amable que ayuda a las personas que buscan formación sobre inteligencia artificial y automatizaciones en UDIA.\n\nEn la herramienta informacion_udia tienes toda la información sobre UDIA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        672,
        0
      ],
      "id": "e412b98b-b88f-4d9a-8d94-5fc340c075da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-2024-07-18"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        192
      ],
      "id": "5363084d-dc20-4caa-af87-b74861dd0f28",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "D9QGjQ5LR90f1yro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        192
      ],
      "id": "ee32a3a6-4fe2-45f3-a823-1c42618c997e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "informacion_udia",
        "toolDescription": "Trabaja con tu pinecone vector store donde tienes toda la información sobre UDIA.es y lo que hacen.",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {
          "pineconeNamespace": "udia_rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        848,
        192
      ],
      "id": "24a324ef-1d79-41e7-a39e-bc22f47ec4d5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "TjQEKsi7Anfoclog",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        320
      ],
      "id": "27e80b2d-9447-48ad-bbe2-265271235b4e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "D9QGjQ5LR90f1yro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "id": "f8a177f5-1c8b-45a8-aeaa-0f141c75ceab",
      "name": "WhatsApp Trigger",
      "webhookId": "bf72f455-8ec3-4f78-9fac-0853baaf35bf",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "qYoJDH61XUZzgRbT",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/520651321139037/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <aqui tu access token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        0
      ],
      "id": "43a95cb9-0c00-4f1c-bdea-e8efd2add901",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      messaging_product: \"whatsapp\",\n      to: $('WhatsApp Trigger').item.json.contacts[0].wa_id,\n      type: \"text\",\n      text: {\n        body: items[0].json.output.replace(/\\\\n/g, \"\\n\")\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "faefa3fa-de62-447c-8e7f-14512cda694c",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51c90919-c922-437b-97f8-ea5c8bae1542",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "f5849f23-d332-48f2-a8a0-2d4468299bfc",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T18:41:21.396Z",
      "updatedAt": "2025-08-25T18:41:21.396Z",
      "role": "workflow:owner",
      "workflowId": "7ZCDyk03ZeBnw6T2",
      "projectId": "NlZSbCiwuoH09JfL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T20:40:22.000Z",
  "versionId": "fb877739-0e1a-4a0e-8a72-20dca3e6e3d0"
}