workflows/Nodo de extraccion de datos ia.json
{
  "active": false,
  "connections": {
    "variables": {
      "main": [
        [
          {
            "node": "Accedo al Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accedo al Sitemap": {
      "main": [
        [
          {
            "node": "Convierto a XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convierto a XML": {
      "main": [
        [
          {
            "node": "Extraigo lo que necesito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraigo lo que necesito": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-26T16:47:57.230Z",
  "id": "8KNAbtymihcoMjy1",
  "isArchived": false,
  "meta": null,
  "name": "Nodo de extraccion de datos ia",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c7f49645-7788-4e2a-aea7-a0d856a220da",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "639636c5-3b6d-4f96-b964-7e37ad2d896e",
              "name": "sitemap",
              "value": "https://mascotalandia.es/sitemap-products-1-es.xml",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "b1c19cc8-4b58-4c47-84d8-0007ded04be1",
      "name": "variables"
    },
    {
      "parameters": {
        "url": "={{ $json.sitemap }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ],
      "id": "3b252f5a-547e-4d89-a3b3-5df8c8952da1",
      "name": "Accedo al Sitemap"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "f4063302-1495-45b2-8fcf-bb64d7a75b2f",
      "name": "Convierto a XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "12769d4b-c0b1-493f-8a92-37ee10560c49",
      "name": "Extraigo lo que necesito"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hya7vNd2LFE37D14",
          "mode": "list",
          "cachedResultName": "Nodo de extraccion de datos secundarioia"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        112
      ],
      "id": "ad499d33-1dae-43d0-92c9-6a9c554589b6",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "51be8980-ca4d-4564-b7ed-0ce7127de0ee",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        0
      ],
      "id": "0992269f-37a5-42f1-a5d1-6af4f20c9d77",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-26T16:47:57.237Z",
      "updatedAt": "2025-08-26T16:47:57.237Z",
      "role": "workflow:owner",
      "workflowId": "8KNAbtymihcoMjy1",
      "projectId": "NlZSbCiwuoH09JfL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-26T17:31:36.000Z",
  "versionId": "68052ce8-65d6-4c03-9a2f-cd3096c5ca2f"
}